extends ./includes/layout.jade

block content
	form.form-horizontal(action="/logout", method="post")
		.row
			legend #{user.accountType} Profile Details
		.form-group
			.row
				fieldset
					.col-sm-2
						label.pull-right First Name
					.col-sm-10
						.field
							| #{user.firstName}
		.form-group
			.row
				fieldset
					.col-sm-2
						label.pull-right Last Name
					.col-sm-10
						.field
							| #{user.lastName}
		if user.gender
			.form-group
				.row
					fieldset
						.col-sm-2
							label.pull-right Gener
						.col-sm-10
							.field
								| #{user.gender}
		if user.email
			.form-group
				.row
					fieldset
						.col-sm-2
							label.pull-right Email
						.col-sm-10
							.field
								| #{user.email}
		if user.followersCount
			.form-group
				.row
					fieldset
						.col-sm-2
							label.pull-right Followers Count
						.col-sm-10
							.field
								| #{user.followersCount}
		if user.friendsCount
			.form-group
				.row
					fieldset
						.col-sm-2
							label.pull-right Friends Count
						.col-sm-10
							.field
								| #{user.friendsCount}
		if user.screenName
			.form-group
				.row
					fieldset
						.col-sm-2
							label.pull-right Screen Name
						.col-sm-10
							.field
								| #{user.screenName}
		.form-group
			.row
				.col-sm-offset-2.col-sm-10
					button.btn.btn-primary(type="submit") Logout
